//Primary
$primaryDarker: #23106D;
$primaryMain: #7452FF;
$primaryLighter: #A58EFF;
$primarySubtle: #DBD2FF;
$primaryBG: #F7F6FA;
//Secondary
$secondaryDarker: #E5B13B;
$secondaryMain: #FFCB57;
$secondaryLighter: #FFDA86;
$secondarySubtle: #FFE9B7;
$secondary4: #FFF9EA;
//Dark
$heading: #181819;
$mainText: #2D2D30;
$subHeading: #575764;
$description: #7E7E96;
$dark4: #B0B0C7;
//Light
$light0: #DBDBE7;
$light1: #EAEAF4;
$light2: #F3F3FB;
$light3: #FCFCFF;
$light4: #FFFFFF;
//Green
$green0: #2AA15A;
$green1: #39CF75;
$green2: #5AF096;
$green3: #8DF3B6;
$green4: #BCFFD7;
//Red
$red0: #C61515;
$red1: #F33C3C;
$red2: #FC6868;
$red3: #FF9595;
$red4: #FFD6D6;
//Overlay
$overlay: #8F90A6bf;